Code - OSS
pavucontrol.ini
kde.org
session
Slack
dolphinrc
kiorc
QtProject.conf
nvm
dconf
1Password
BraveSoftware
chromium
GitKraken
google-chrome
google-chrome-beta
google-chrome-unstable
microsoft-edge-dev
vivaldi
vivaldi-snapshot
mimeapps.list
spotify